<% was_validated = quarter.errors.any? %>

<%= form_with(model: quarter, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for season start -->
  <div class="form-group">
    <% season_class = "form-control" %>
    <% season_was_invalid = quarter.errors.include?(:season) %>

    <% if was_validated %>
      <% if season_was_invalid %>
        <% season_class << " is-invalid" %>
      <% else %>
        <% season_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :season %>
    <!-- Input for season start -->
    <%= f.text_field :season, class: season_class, placeholder: "Enter season" %>
    <!-- Input for season end -->
    <% if season_was_invalid %>
      <% quarter.errors.full_messages_for(:season).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for season end -->
  <!-- Label and input for year start -->
  <div class="form-group">
    <% year_class = "form-control" %>
    <% year_was_invalid = quarter.errors.include?(:year) %>

    <% if was_validated %>
      <% if year_was_invalid %>
        <% year_class << " is-invalid" %>
      <% else %>
        <% year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :year %>
    <!-- Input for year start -->
    <%= f.number_field :year, class: year_class, placeholder: "Enter year" %>
    <!-- Input for year end -->
    <% if year_was_invalid %>
      <% quarter.errors.full_messages_for(:year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for year end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
