<%= form_with(model: @course_offering, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :course_id %>

    <%= f.collection_select :course_id, Course.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :quarter_id, value: @quarter.id %>

  <div class="form-group">
    <%= f.label :prof_id %>

    <%= f.collection_select :prof_id, Professor.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create course offering", class: "btn btn-block btn-outline-secondary" %>
<% end %>
