<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_first_name_class = "form-control" %>
    <% user_first_name_was_invalid = user.errors.include?(:user_first_name) %>

    <% if was_validated %>
      <% if user_first_name_was_invalid %>
        <% user_first_name_class << " is-invalid" %>
      <% else %>
        <% user_first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_first_name %>
    <%= f.text_field :user_first_name, class: user_first_name_class, placeholder: "Enter user first name" %>
    <% if user_first_name_was_invalid %>
      <% user.errors.full_messages_for(:user_first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_second_name_class = "form-control" %>
    <% user_second_name_was_invalid = user.errors.include?(:user_second_name) %>

    <% if was_validated %>
      <% if user_second_name_was_invalid %>
        <% user_second_name_class << " is-invalid" %>
      <% else %>
        <% user_second_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_second_name %>
    <%= f.text_field :user_second_name, class: user_second_name_class, placeholder: "Enter user second name" %>
    <% if user_second_name_was_invalid %>
      <% user.errors.full_messages_for(:user_second_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% class_of_class = "form-control" %>
    <% class_of_was_invalid = user.errors.include?(:class_of) %>

    <% if was_validated %>
      <% if class_of_was_invalid %>
        <% class_of_class << " is-invalid" %>
      <% else %>
        <% class_of_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :class_of %>
    <%= f.number_field :class_of, class: class_of_class, placeholder: "Enter class of" %>
    <% if class_of_was_invalid %>
      <% user.errors.full_messages_for(:class_of).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
