<% was_validated = professor.errors.any? %>

<%= form_with(model: professor, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for prof_first_name start -->
  <div class="form-group">
    <% prof_first_name_class = "form-control" %>
    <% prof_first_name_was_invalid = professor.errors.include?(:prof_first_name) %>

    <% if was_validated %>
      <% if prof_first_name_was_invalid %>
        <% prof_first_name_class << " is-invalid" %>
      <% else %>
        <% prof_first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :prof_first_name %>
    <!-- Input for prof_first_name start -->
    <%= f.text_field :prof_first_name, class: prof_first_name_class, placeholder: "Enter prof first name" %>
    <!-- Input for prof_first_name end -->
    <% if prof_first_name_was_invalid %>
      <% professor.errors.full_messages_for(:prof_first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for prof_first_name end -->
  <!-- Label and input for prof_second_name start -->
  <div class="form-group">
    <% prof_second_name_class = "form-control" %>
    <% prof_second_name_was_invalid = professor.errors.include?(:prof_second_name) %>

    <% if was_validated %>
      <% if prof_second_name_was_invalid %>
        <% prof_second_name_class << " is-invalid" %>
      <% else %>
        <% prof_second_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :prof_second_name %>
    <!-- Input for prof_second_name start -->
    <%= f.text_field :prof_second_name, class: prof_second_name_class, placeholder: "Enter prof second name" %>
    <!-- Input for prof_second_name end -->
    <% if prof_second_name_was_invalid %>
      <% professor.errors.full_messages_for(:prof_second_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for prof_second_name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
