<%= form_with(model: @course_offering, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :course_id %>

    <%= f.collection_select :course_id, Course.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quarter_id %>

    <%= f.collection_select :quarter_id, Quarter.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :prof_id, value: @professor.id %>

  <%= f.submit "Create course offering", class: "btn btn-block btn-outline-secondary" %>
<% end %>
