<div class="card mb-3">
  <h2 class="card-header h4">
    Course Rating #<%= course_rating.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @course_rating.user.present? %>
          <%= link_to course_rating.user, course_rating.user %>
        <% end %>
      </dd>

      <dt>Facet 1 rating</dt>
      <dd><%= course_rating.facet_1_rating %></dd>

      <dt>Facet 2 rating</dt>
      <dd><%= course_rating.facet_2_rating %></dd>

      <dt>Facet 3 rating</dt>
      <dd><%= course_rating.facet_3_rating %></dd>

      <dt>Facet 4 rating</dt>
      <dd><%= course_rating.facet_4_rating %></dd>

      <dt>Facet 5 rating</dt>
      <dd><%= course_rating.facet_5_rating %></dd>

      <dt>Descriptive q1</dt>
      <dd><%= course_rating.descriptive_q1 %></dd>

      <dt>Descriptive q2</dt>
      <dd><%= course_rating.descriptive_q2 %></dd>

      <dt>Descriptive q3</dt>
      <dd><%= course_rating.descriptive_q3 %></dd>

      <dt>Course offering</dt>
      <dd>
        <% if @course_rating.course_offering.present? %>
          <%= link_to course_rating.course_offering, course_rating.course_offering %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back course_rating, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @course_rating.user %>
          <%= link_to edit_course_rating_url(course_rating), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @course_rating.user %>
          <%= link_to course_rating, method: :delete, data: { confirm: "Do you really want to delete this course_rating?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(course_rating.updated_at) %> ago
  </div>
</div>
