<!-- Form comment start -->
<%= form_with(model: @comment, local: true) do |f| %>
<!-- Form comment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for course_rating_id start -->
  <!-- Input for course_rating_id start -->
  <%= f.hidden_field :course_rating_id, value: @course_rating.id %>
  <!-- Input for course_rating_id end -->
  <!-- Label and input for course_rating_id end -->

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
