<div class="card mb-3">
  <h2 class="card-header h4">
    Course #<%= course.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Course number</dt>
      <!-- Display course_number start -->
      <dd><%= course.course_number %></dd>
      <!-- Display course_number end -->

      <dt>Course name</dt>
      <!-- Display course_name start -->
      <dd><%= course.course_name %></dd>
      <!-- Display course_name end -->

      <dt>Course description</dt>
      <!-- Display course_description start -->
      <dd><%= course.course_description %></dd>
      <!-- Display course_description end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back course, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link course start -->
      <div class="col">
        <%= link_to edit_course_url(course), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link course end -->

      <!-- Delete link course start -->
      <div class="col">
        <%= link_to course, method: :delete, data: { confirm: "Do you really want to delete this course?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link course end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(course.updated_at) %> ago
  </div>
</div>
