<%= form_with(model: @course_rating, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :facet_1_rating %>

    <%= f.text_field :facet_1_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :facet_2_rating %>

    <%= f.text_field :facet_2_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :facet_3_rating %>

    <%= f.text_field :facet_3_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :facet_4_rating %>

    <%= f.text_field :facet_4_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :facet_5_rating %>

    <%= f.text_field :facet_5_rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descriptive_q1 %>

    <%= f.text_field :descriptive_q1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descriptive_q2 %>

    <%= f.text_field :descriptive_q2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descriptive_q3 %>

    <%= f.text_field :descriptive_q3, class: "form-control" %>
  </div>

  <%= f.hidden_field :course_offering_id, value: @course_offering.id %>

  <%= f.submit "Create course rating", class: "btn btn-block btn-outline-secondary" %>
<% end %>
