<div class="card mb-3">
  <h2 class="card-header h4">
    User Need #<%= user_need.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Facet 1 need</dt>
      <dd><%= user_need.facet_1_need %></dd>

      <dt>Facet 2 need</dt>
      <dd><%= user_need.facet_2_need %></dd>

      <dt>Facet 3 need</dt>
      <dd><%= user_need.facet_3_need %></dd>

      <dt>Facet 4 need</dt>
      <dd><%= user_need.facet_4_need %></dd>

      <dt>Facet 5 need</dt>
      <dd><%= user_need.facet_5_need %></dd>

      <dt>User</dt>
      <dd>
        <% if @user_need.user.present? %>
          <%= link_to user_need.user, user_need.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back user_need, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_user_need_url(user_need), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to user_need, method: :delete, data: { confirm: "Do you really want to delete this user_need?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(user_need.updated_at) %> ago
  </div>
</div>
